# Options -MultiViews
Options +FollowSymLinks

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Routes SEO for backoffice modules
RewriteRule ^(contenu|tag|image)-(liste|ajouter|modifier|supprimer)$ $1/$2.php [L,QSA,NC]

RewriteRule ^dashboard$ dashboard.php [L,QSA]
RewriteRule ^seo-audit$ seo_audit.php [L,QSA]
RewriteRule ^logout$ logout.php [L,QSA]
RewriteRule ^login$ login.php [L,QSA]