# Options -MultiViews
Options +FollowSymLinks

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Route : contenu-liste → contenu/liste.php & tag-liste → tag/liste.php
RewriteRule ^([_a-z0-9]+)-liste$ $1/liste.php [L]

RewriteRule ^ajouter-image$ image/ajouter.php [L]
RewriteRule ^dashboard$ dashboard.php [L]
RewriteRule ^logout$ logout.php [L]
RewriteRule ^login$ login.php [L]